desktop.ini
backend/.dpd/pids/mongod
backend/.dpd/pids/mongod
backend/data
backend/.dpd
backend/.dpd/pids/mongod
*.lock
backend/resources/users/put.js
backend/resources/users/validate.js
*.lock
backend/data/mongod.lock
backend/.dpd/pids/mongod